body {
  font-size: 16px;
  color: #fff;
  background-color: #f1e26e;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 50px;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #4a5bf2;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.container {
  width: 100%;
}

.row {
  padding: 10px;
}

#chicken,
#beef,
#sushi {
  position: relative;
  margin-bottom: 50px;
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
}

#text {
  color: #222;
  margin-bottom: 20px;
  font-size: 7vm;
}

#sushi :nth-child(1),
#beef :nth-child(1),
#chicken :nth-child(1) {
  color: #f1e26e;
}

#sushi :nth-child(2),
#beef :nth-child(2),
#chicken :nth-child(2) {
  margin-top: 70px;
  margin-bottom: 30px;
}

#sushi :nth-child(3),
#beef :nth-child(3),
#chicken :nth-child(3) {
  background-color: #f6b319;
  color: #222;
  border-radius: 5px;
  border: gray solid 2px;
  width: fit-content;
  padding: 10px;
  text-decoration: none;
}

#menu-items {
  color: #222;
  font-weight: bold;
  border-bottom: white solid 1px;
}